.apple-logo {
    width: 150px; 
    height: auto; 
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards,
      scaleUp 3s ease-in-out 1s infinite alternate;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  