#lapices {
    width: 150px; 
    height: 150px; 
    animation: rotar 4s linear infinite;
  }
  
  @keyframes rotar {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  